<div class="col-sm-8 col-sm-offset-2" id="report">
    <h1>Napi Tevékenységlista</h1>
    <hr>
    <div class="form-group">
        <label>Válassz egy napot</label>

        <p class="input-group col-sm-6">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="date"
                   is-open="opened" ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
        <button class="btn btn-primary" ng-click="select()">Mehet</button>
    </div>
    <div ng-show="showReport">

        <table class="table">

            <tr ng-repeat="root in report" ng-show="root.totalDuration!=0">
                <td class="warning"><h4>{{root.name}}<small class="pull-right">{{root.totalDuration / 60 -0.5 | number:0}} óra {{root.totalDuration % 60}} perc / {{root.totalDuration / 60 | number:2}}</small></h4>
                    <table class="table">
                        <tr ng-repeat="sub in root.subCategories" ng-show="sub.totalDuration!=0">
                            <td class="info"><h5>{{sub.name}} <small class="pull-right">{{sub.totalDuration / 60 -0.5 | number:0}} óra {{sub.totalDuration % 60}} perc/ {{root.totalDuration / 60 | number:2}} óra</small></h5>
                                <table class="table table-condensed">
                                    <tr>
                                        <th>Megnevezés</th>
                                        <th>Kezdés</th>
                                        <th>Befejezés</th>
                                        <th>Időtartam</th>
                                    </tr>
                                    <tr ng-repeat="act in sub.activities">
                                        <td>{{act.name}}</td>
                                        <td>{{act.startTime.split(' ')[1]}}</td>
                                        <td>{{act.endTime.split(' ')[1]}}</td>
                                        <td>{{act.duration}} perc</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

<!--        <div ng-repeat="root in report" ng-show="root.totalDuration!=0">
            <h4>{{root.name}} <span class="pull-right"> {{root.totalDuration / 60 -0.5 | number:0}} óra {{root.totalDuration % 60}} perc / {{root.totalDuration / 60 | number:2}} óra</span>
            </h4>

            <div ng-repeat="sub in root.subCategories" ng-show="sub.totalDuration!=0">
                <h5>{{sub.name}} <span class="pull-right">{{sub.totalDuration / 60 -0.5 | number:0}} óra {{sub.totalDuration % 60}} perc / {{sub.totalDuration / 60 | number:2}} óra</span>
                </h5>
                <table class="table">
                    <tr>
                        <th>Megnevezés</th>
                        <th>Kezdés</th>
                        <th>Befejezés</th>
                        <th>Időtartam</th>
                    </tr>
                    <tr ng-repeat="act in sub.activities">
                        <td>{{act.name}}</td>
                        <td>{{act.startTime}}</td>
                        <td>{{act.endTime}}</td>
                        <td>{{act.duration}} perc</td>
                    </tr>
                </table>
            </div>
        </div>-->
        <hr>
        <div class="well" ng-show="totalTime">Az összes feljegyzett idő: {{totalTime / 60 -0.5 | number:0}} óra {{totalTime % 60}}
            perc / {{totalTime/60 | number:2}} óra</div>

    </div>
    <div class="well" ng-hide="totalTime">Erra a napra nem készült feljegyzés</div>
</div>