<div class="col-sm-6 col-sm-offset-2">
    <h2>Tevékenységek</h2>

    <div class="form-group">
        <label>Válassz egy dátumot</label>

        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="date" is-open="popup.opened" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <button class="btn btn-primary" ng-click="submit(date)">Mehet</button>

</div>