<form class="col-sm-offset-2 col-sm-6" name="categoryForm">
    <fieldset>
        <legend>Kategória</legend>
        <div class="form-group" ng-class="{'has-error':categoryForm.name.$invalid && categoryForm.name.$touched}">
            <label>Megnevezés</label>
            <input type="text" name="name" class="form-control" ng-model="category.name" ng-required="true">
            <span class="help-block" ng-if="categoryForm.name.$invalid && categoryForm.name.$touched">A név mező nem maradhat üresen</span>
        </div>
        <button class="btn btn-default" ng-click="cancel()">Mégsem</button>
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="categoryForm.$invalid">Mentés</button>
        <button class="btn btn-danger" ng-click="delete(category.id)" ng-show="edit">Töröl</button>
    </fieldset>
</form>