<div class="col-sm-6 col-sm-offset-2">
    <h2>Kategóriák</h2>
    <button class="btn btn-primary" ng-click="addNew()">Új kategória</button>
    <br/><br/>
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Megnevezés</th>
            <th></th>
        </tr>
        <tr ng-repeat="cat in categories">
            <td>{{cat.id}}</td>
            <td>{{cat.name}}</td>
            <td><a class="btn btn-primary" href="#/category/{{cat.id}}">Szerkeszt</a></td>

        </tr>
    </table>
</div>